<div class="card-container">
  <div *ngFor="let product of products">
    <div class="product-card">
      <h1>{{product?.title}}</h1>
      <p>Price: {{product?.price}}$</p>
      <button (click)="deleteProduct(product.id)">Delete</button>
    </div>
  </div>
</div>
<!--<form #productForm="ngForm" (ngSubmit)="addProduct()" class="productForm">-->
<!--  <label>Title: </label>-->
<!--  <input name="productTitle" [(ngModel)]="newProduct.title">-->
<!--  <label>Price: </label>-->
<!--  <input name="productPrice" [(ngModel)]="newProduct.price">-->
<!--  <label>Description: </label>-->
<!--  <input name="productDescription" [(ngModel)]="newProduct.description">-->
<!--  <label>Image: </label>-->
<!--  <input name="productImage" [(ngModel)]="newProduct.image">-->
<!--  <label>Category: </label>-->
<!--  <input required name="productCategory" [(ngModel)]="newProduct.category">-->
<!--  <button type="submit" [disabled]="productForm.invalid">Add product</button>-->
<!--</form>-->
<form [formGroup]="form" (ngSubmit)="addProduct()">
  <label>Title: </label>
  <input formControlName="title">

  <div *ngIf="form.controls['title'].invalid && form.controls['title'].touched" class="error-class">
    <div *ngIf="form.controls['title'].errors?.['required']">Title is required</div>
    <div *ngIf="form.controls['title'].errors?.['forbiddenWord']">Title can not contain the {{form.controls['title'].errors?.['forbiddenWord'].keyword}}</div>
  </div>

  <label>Price: </label>
  <input formControlName="price">

  <div *ngIf="form.controls['price'].invalid && form.controls['price'].touched" class="error-class">
    <div *ngIf="form.controls['price'].errors?.['required']">Price is required</div>
    <div *ngIf="form.controls['price'].errors?.['pattern']">Enter valid number</div>
  </div>

  <label>Description: </label>
  <input formControlName="description">
  <label>Image: </label>
  <input formControlName="image">
  <label>Category: </label>
  <input formControlName="category">
  <div formArrayName="features">
    <div *ngFor="let f of features.controls; let i = index">
      <input [formControlName]="i">
      <button (click)="addFeature()">Add feature</button>
    </div>
  </div>
  <button type="submit" [disabled]="form.invalid">Add product</button>
</form>
