<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Stock Tracker</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" (click)="goToManage()">Manage</a>
        <a class="mdl-navigation__link" (click)="goToUsers()">Users</a>
        <a class="mdl-navigation__link" (click)="goToPosts()">Posts</a>
        <a (click)="goToSorting()">Sorting</a>
      </nav>
    </div>
  </header>
  <div class="main-content">
    <div class="counter">
      <p>Cart: {{cardCount}}</p>
    </div>

    <app-message></app-message>
    <div>
      <app-user></app-user>
      <app-products [myProducts]="products" (cartCounter)="getCount()"></app-products>
      <div *ngFor="let log of getLogs">
        <p>{{log}}</p>
      </div>
    </div>
  </div>


</div>
