<table mat-table [dataSource]="dataSource" (matSortChange)="sortMat($event)" matSort>
<!--  creating dynamic columns -->
  <ng-container *ngFor="let column of columnsToStringName" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column}}</th>
    <td mat-cell *matCellDef="let entity">
      <ng-container *ngIf="!entity.editing; else editTemplate">
        <span>{{entity[column]}}</span>
      </ng-container>
      <ng-template #editTemplate>
        <input [(ngModel)]="entity[column]">
      </ng-template>
    </td>
  </ng-container>

<!--  generating actions column -->
  <ng-container *ngIf="displayedColumns.includes('actions')" matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let entity">
      <button mat-icon-button (click)="onToggleEdit(entity)">
        <mat-icon>{{entity.editing ? 'save' : 'edit'}}</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>

</table>

<mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons (page)="onPageChange($event)"></mat-paginator>
