<div>
  <div *ngFor="let item of users" >{{item.name}}</div>
</div>
<form [formGroup]="form" (ngSubmit)="addUser()">
  <label>Name: </label>
  <input formControlName="name">
  <label>User Name: </label>
  <input formControlName="username">
  <label>Email: </label>
  <input formControlName="email">
  <label>Phone: </label>
  <input formControlName="phone">
<!--  <div formArrayName="features">-->
<!--    <div *ngFor="let f of features.controls; let i = index">-->
<!--      <input [formControlName]="i">-->
<!--      <button (click)="addFeature()">Add feature</button>-->
<!--    </div>-->
<!--  </div>-->
  <button type="submit" [disabled]="form.invalid">Add user</button>
</form>
