<!--<label>Company:-->
<!--  <select [formControl]="companyControl">-->
<!--    <option [value]="company" *ngFor="let company of companies$ | async">{{company}}</option>-->
<!--  </select>-->
<!--</label>-->

<!--<label>City:-->
<!--  <select [formControl]="cityControl">-->
<!--    <option [value]="city" *ngFor="let city of cities$ | async">{{city}}</option>-->
<!--  </select>-->
<!--</label>-->
<!--<div *ngFor="let filteredUser of filteredUsers">-->
<!--  <app-user [user]="filteredUser"></app-user>-->
<!--</div>-->
<input placeholder="Search user" (input)="onSearch($event)">
<div *ngFor="let user of filteredUsers$|async">
  <p>{{user.name}}</p>
</div>
<button (click)="refresh()">Refresh</button>
<div *ngFor="let user of refreshUsers$|async">
  <p>{{user.name}}</p>
</div>
<div>
<!--    <div *ngFor="let item of users">-->
<!--      <app-user [user]="item"></app-user>-->
<!--    </div>-->
  <div *ngFor="let filteredUser of filteredUsers" (click)="selectUser(filteredUser)">
    <app-user [user]="filteredUser" [isSelected]="filteredUser===selectedUser"></app-user>
    <a [routerLink]="['/users', filteredUser.id]">Edit user</a>
  </div>
</div>


<!--<form [formGroup]="form" (ngSubmit)="addUser()">-->
<!--  <label>Name: </label>-->
<!--  <input formControlName="name">-->
<!--  <label>User Name: </label>-->
<!--  <input formControlName="username">-->
<!--  <label>Email: </label>-->
<!--  <input formControlName="email">-->
<!--  <label>Phone: </label>-->
<!--  <input formControlName="phone">-->
<!--  <div formArrayName="jobs">-->
<!--    <div *ngFor="let job of jobs.controls; let i = index">-->
<!--      <input [formControlName]="i">-->
<!--      <button (click)="addJobs()">Add job</button>-->
<!--    </div>-->
<!--  </div>-->
<!--  <button type="submit" [disabled]="form.invalid">Add user</button>-->
<!--</form>-->
