<label>Search</label>
<input type="" [formControl]="informControl">

<label>Select post</label>
<select [formControl]="selectPostControl">
  <option value="0" disabled>--choose option--</option>
  <option [value]="post.id" *ngFor="let post of posts$|async">{{post.title}}</option>
</select>

<label>Number of posts</label>
<select [formControl]="selectNumberOfPosts">
  <option value="0" disabled>--choose option--</option>
  <option [value]="5">5</option>
  <option [value]="10">10</option>
  <option [value]="20">20</option>
</select>
  <p *ngFor="let post of filteredByValue$|async">
    {{post.title}}
  </p>


<ng-template #post let-post1="name">
  <span>{{post1.userId}}</span>
  <div>{{post1.id}}</div>
  <div>{{post1.title}}</div>
  <div>{{post1.body}}</div>
</ng-template>

<div *ngIf="selectedPost| async as myPost; else loadingPost" >
  <ng-container
    *ngTemplateOutlet="post; context: {name: myPost}"
  ></ng-container>
</div>

<ng-template #userCard let-user="user">
  <p><strong>Name:</strong> {{ user.name }}</p>
  <p><strong>Email:</strong> {{ user.email }}</p>
  <p><strong>Phone:</strong> {{ user.phone }}</p>
</ng-template>

<ng-container *ngIf="selectedUser | async as user; else loadingUser">
  <ng-container
  *ngTemplateOutlet="userCard; context: {user: user}"
  ></ng-container>
</ng-container>
<button (click)="clearSelection()">Clear</button>

<ng-template #loadingUser>
  <p>Loading user details</p>
</ng-template>

<ng-template #loadingPost>
  <p>Loading post details</p>
</ng-template>

<button (click)="toggle = !toggle">Toggle</button>

<ng-template #postShort let-post1="post">
  <div>{{post1.title}}</div>
</ng-template>

<ng-template #postFull let-post1="myPost">
  <span>{{post1.userId}}</span>
  <div>{{post1.id}}</div>
  <div>{{post1.title}}</div>
  <div>{{post1.body}}</div>
</ng-template>

<div *ngIf="selectedPost| async as myPost; else loadingPost" >
  <app-post-preview [post]="myPost" [template]="postFull"></app-post-preview>
</div>

<!--<input type="" placeholder="search" [(ngModel)]="searchValue">-->
<!--<ng-container *ngIf="posts$ | async as myPosts">-->
<!--  <ng-container *ngFor="let post of myPosts | filterByTitlePipe: searchValue">-->
<!--    <p>{{post.title}}</p>-->
<!--  </ng-container>-->
<!--</ng-container>-->
